.header {
  padding: 40px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.menu {
  &__btn {
    display: none; //скрываем кнопку бургера
    cursor: pointer;
  }

  &__list {
    display: flex;
  }

  &__list-item {
    &:not(:first-child) {
      //новый порядок записи для отступов между элементами
      padding-left: 35px;
    }
  }

  &__list-link {
    padding: 0 2px 1px; //для линий подчеркивания
    @extend %quicksand-400;
    text-transform: uppercase;
    color: $title;
    transition: all 0.3s;

    &:hover {
      @extend %quicksand-500;
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }

  &__list-link--active {
    @extend %quicksand-500;
    color: $accent;
    border-bottom: 1px solid $accent;
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__link {
    &:not(:first-child) {
      padding-left: 25px;
    }
  }

  &__num {
    position: absolute;
    top: -9px;
    right: -14px;
    width: 20px;
    height: 20px;
    font-size: 12px;

    line-height: 1.6; // центрирование в круге (высота+выравнивание по центру
    text-align: center;

    color: #fff;
    background-color: $accent;
    border-radius: 50%;
  }
}

@media (max-width: 1200px) {
  .header {
    &__inner {
      padding-right: 10px;
    }
  }
}

@media (max-width: 860px) {
  .menu {
    order: 1;
    margin-left: 40px;

    &__list { //свойства для всего списка
      transform: translateY(-200%); //скрывает ссылки
      position: absolute;
      top: 200px;
      width: 100%;
      left: 0;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transition: all 0.3s;
      background-color: #fff;

      &.menu__list--active {
        // скрывает список (дописать класс в JS)
        transform: translateY(0%);
        transition: all 0.3s;
      }
    }

    &__list-item { //расширяем li на всю строку
      width: 100%;
      padding: 0 15px;
      text-align: center;

      &:not(:first-child) {
        padding-left: 15px;
      }
    }

    &__list-link {
      width: 100%; //расширяем а на всю строку, для клика добавляем паддинг
      padding: 12px 0;
      display: block;
    }

    &__btn { //внутрь кнопки вставляем спан 
      width: 30px;
      height: 22px;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0;

      span { //позиционируем псевдоэлементы, чтобы нарисовать кнопку
        width: 100%;
        height: 3px;
        background-color: $title;
      }

      &::after,
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $title;
      }

      &::after {
        top: 0;
      }

      &::before {
        bottom: 0;
      }
    }

    .user-nav {
      margin-left: auto; //переносит элементы влево вместо order, для того,чтобы кнопка стала справа
    }
  }
}

@media (max-width: 500px) {
  .header {
    &__inner {
      padding-right: 0;
    }
  }

  .menu {
    order: 0;

    &__list {
      top: 140px;
    }
  }

  .user-nav {
    width: 100%;
    margin-top: 35px;
    justify-content: flex-end;
    padding-right: 15px;
  }
}